@{
    ViewData["Title"] = "Entertainer Details";
}

@model Final_Entertainment.Models.Entertainers

<h1>Entertainer Details</h1>



<div>
    <form method="post">
        <label asp-for="EntStageName">Name</label>
        <input asp-for="EntStageName" /> <br />

        <label asp-for="EntSsn">SSN</label>
        <input asp-for="EntSsn" /> <br />

        <label asp-for="EntStreetAddress">Address</label>
        <input asp-for="EntStreetAddress" /> <br />

        <label asp-for="EntCity">City</label>
        <input asp-for="EntCity" /> <br />


        <label asp-for="EntState">State</label>
        <input asp-for="EntState" /> <br />

        <label asp-for="EntZipCode">Zip</label>
        <input asp-for="EntZipCode" /> <br />

        <label asp-for="EntPhoneNumber">Phone</label>
        <input asp-for="EntPhoneNumber" /> <br />

        <label asp-for="EntWebPage">Site</label>
        <input asp-for="EntWebPage" /> <br />

        <label asp-for="EntEmailAddress">Email</label>
        <input asp-for="EntEmailAddress" /> <br />

        <label asp-for="DateEntered">Date Entered</label>
        <input asp-for="DateEntered" /> <br />

        <button>Edit</button>
        <button>Delete</button>

    </form>
</div>